

<!-- Search form -->
<div>
<%= form_tag(root_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "GOPRO" %>
<% end %>
</div>

<!-- Image grid -->
<div id= "list_wrapper">
	<ul>
		<% @posts.each do |post| %>
		<li>
			<img onclick="display_model('<%= post.image_url %>','<%= post.profile_image_url %>','<%= post.user_name %>', '<%= post.description %>', '<%= post.like_count %>', <%= post.comment_count %>)" src= <%= post.thumbnail_url %> >
		</li>
		<% end %>
	</ul>
</div>

<div id="detail_modal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<table>
					<tr>
						<td>
							<div id="modal_image_div"></div>
						</td>
						<td>
							<table id="side">
								<tr>
									<td>
										<div id="modal_profile_image_div"></div>
									</td>
									<td>
										<div id="modal_user_name_div"></div>
									</td>
								</tr>
								<tr>
									<td>
										<div id="modal_like_div"></div>
									</td>
									<td>
										<div id="modal_comment_div"></div>
									</td>
								</tr>
								<tr>
									<td>
										<div id="modal_description_div"></div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
